# Virtual env
.venv/
venv/

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Evaluation outputs
test.py
test1.py
mini_ragas_v2_results.csv

# Local databases
*.db
*.sqlite
firstrag.db

# Local Qdrant
local_qdrant_db/

# User uploaded documents
user_uploads/*
!user_uploads/.gitkeep
*.log
hf_cache/
models/