langchain>=0.3
langchain-community
langchain-text-splitters
langchain-qdrant

pymupdf

qdrant-client

sentence-transformers
FlagEmbedding

openai>=1.0.0
python-dotenv

rank-bm25

numpy
scikit-learn
tqdm

pydantic
instructor

fastapi
uvicorn